.songContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem;
    color: rgb(95, 91, 91);
  }
  .songName {
    font-style: oblique;
    font-size: 2rem;
    font-display: unset;
    color: black;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-position: right top;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .songPicture.active {
    animation: rotate 20s linear forwards infinite;
  }
}
